# Dependency directories
/node_modules
/.pnp
.pnp.js

# Compiled output
/dist
/out
/build
*.js
*.js.map
*.d.ts

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS or IDE files
.DS_Store
Thumbs.db
